
<script type="text/javascript">
  $(function() {
  $('#test-id').click(function(event){
    alert('Hooray!');
    event.preventDefault(); // Prevent link from following its href
  });
});
</script>

<h4 class="archive__header">Newsletter Archive</h4>

<a href="#" id="test-id" onclick="#test-id">Test</a>

<% @newsletters.each do |newsletter| %>
  <div class="archive__title"><%= newsletter.title %></div>
  <div class="archive__date"><%= newsletter.created_at.strftime("%b %e, %Y") %></div>
  <br>
<% end %>