
<h4 class="archive__header">Newsletter Archive</h4>


<% @newsletters.each do |newsletter| %>
  <div class="archive__title"><%= link_to newsletter.title, newsletter %></div>
  <div class="archive__date"><%= newsletter.created_at.strftime("%F") %></div>
  <br>
<% end %>