
<div class="newsletter">

  <div class="img-wrapper">
    <%= image_tag @latest.image, class: "newsletter__img" %>
    <h3 class="newsletter__title"><%= @latest.title %></h3>
  </div>

  <p class="newsletter__body"><%= @latest.body %></p>

  <%= link_to 'Edit', edit_newsletter_path(@latest) %>
</div>