
<div class="latest">

  <div><%= image_tag @latest.image, class: "latest__img" %></div>

  <h3 class="latest__title"><%= @latest.title %></h3>

  <p class="latest__body"><%= @latest.body %></p>
</div>