<h3>This is the Homepage</h3>
<div class="mainpage-wrapper">
  <div class="sidebar">
    <div class="newsletter-date"><%= @latest.created_at.strftime("%F") %></div>
    <div class="archive"><%= render "shared/archive.html.erb" %></div>
  </div>

  <div class="content">
    <div><%= render "latest.html.erb" %></div>
  </div>

</div>