/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightgray;
  margin-top: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  letter-spacing: 1px;

}

.site-wrapper {
  margin-left: 80px;
  margin-right: 80px;
  background-color: #fff;
  padding: 10px;
  top: 0px;
  position: relative;
}

.header-wrapper {
  padding-bottom: 5px;
  border-bottom: 10px solid slategray;
}

.nav {
  text-align: center;
}

.mainpage-wrapper {
  display: grid;
  grid-template-columns: [sidebar-s] 1fr [sidebar-e content-s] 3fr [content-e];
  grid-column-gap: 3rem; 
}

.sidebar {
  grid-column: sidebar-s/sidebar-e;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [date-s] 1fr [date-e archive-s] 3fr [archive-e]
}

.content {
  grid-column: content-s/content-e;

}

.archive {
  grid-row: archive-s/archive-e;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid black;
  /*text-align: center;*/

  &__header {
  }

  &__title {

  }

  &__date {

  }

}

.newsletter {
  grid-column: newsletter-s/newsletter-e;
  justify-content: start;
  align-items: center;

  display: grid;
  grid-template-rows: [img-s] 2fr [img-e body-s] 3fr [body-e];
  grid-template-columns: 1fr;


  .img-wrapper{
    grid-row: img-s/img-e;
    position: relative;
    text-align: center;
    background-color: black;
    border-radius: 5px;
  }

  &__img {
    width: 100%;
    opacity: 0.8;
    border-radius: 5px;
    height: 100%;
    margin-bottom: -5px;
    border: 1px solid black;
    margin-right: 5px;

  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    transition: 0.3s;
  }

  &__body {
    grid-row: body-s/body-e;
    align-self: start;
  }

}

.newsletter-link a {
  color: #d9d9d9;
}

.newsletter-link a:hover {
  color: #fff;
}

.newsletter-edit {
  position: absolute;
  bottom: 16px;
  right: 32px;
}

.button-small {
  border: 1px solid #d9d9d9;
  padding: 5px 15px;
  border-radius: 10px;
}

.button-small:hover {
  background-color: rgba(255,255,255,0.2);
  color: black;
}

.newsletter-date {
  grid-row: date-s/date-e;
  align-self: center;
  justify-self: center;

  border: 1px solid black;
  border-radius: 7px;
  padding: 4rem 2.5rem;
}