// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage-wrapper {
  display: grid;
  grid-template-columns: [sidebar-s] 1fr [sidebar-e content-s] 3fr [content-e];
  grid-column-gap: 3rem; 
}

.sidebar {
  grid-column: sidebar-s/sidebar-e;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [date-s] 1fr [date-e archive-s] 3fr [archive-e]
}

.content {
  grid-column: content-s/content-e;

}

.archive {
  grid-row: archive-s/archive-e;
  justify-self: center;
  align-self: start;

  &__header {

  }

  &__title {

  }

  &__date {

  }

}

.latest-date {
  grid-row: date-s/date-e;
  align-self: center;
  justify-self: center;

  border: 1px solid black;
  border-radius: 7px;
  padding: 4rem 2.5rem;
}

.latest {
  grid-column: latest-s/latest-e;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-rows: [img-s] 2fr [img-e title-s] 4rem [title-e body-s] 3fr [body-e];
  grid-template-columns: 1fr;


  &__img {
    width: 95%;
    grid-row: img-s/img-e;
    /*grid-column: 1/-1;*/
    align-self: center;
    justify-self: center;
  }

  &__title {
    text-align: center;
    grid-row: title-s/title-e;

  }

  &__body {
    grid-row: body-s/body-e;
    align-self: start;
  }

}